<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:insert="header/head.html"/>
    <title>Авторы</title>
</head>

<body class="bg-body-tertiary">
<div th:insert="header/header.html"></div>
<div class="container-sm mt-3 bg-white text-dark rounded mb-3">
    <div class="row p-3">
        <h3>Информация об авторах</h3>
    </div>
</div>
<div class="container-sm mt-3 bg-white text-dark rounded">
    <div class="row p-3">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Автор</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author :${authors}">
                <td class="text-center align-middle" th:text="${author.id}"></td>
                <td class="text-center align-middle" th:text="${author.fullName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
